/**
 * @file
 * Css to override Gin admin theme styling.
 */

/* Set the width of the table columns like they are on the moderation tab */
td.views-field-title {
  max-width: 644px;
}

/* Ensure Site Studio sidebar browser doesn't interfere with node editing. */
.gin--edit-form.coh-element-browser {
  padding-right: var(--gin-sidebar-width) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open,
.gin--horizontal-toolbar.ssa-element-browser-modal-open {
  padding-left: var(--gin-sidebar-width) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open[data-toolbar-menu="open"] {
  /* stylelint-disable */
  padding-left: calc(var(--gin-sidebar-width) + var(--gin-toolbar-width) - 40px) !important;
  /* stylelint-enable */
}

.gin--vertical-toolbar.ssa-element-browser-modal-open #ssa-sidebar-browser {
  left: var(--gin-toolbar-width-collapsed) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open[data-toolbar-menu="open"]
  #ssa-sidebar-browser {
  left: var(--gin-toolbar-width) !important;
}

.gin--horizontal-toolbar.ssa-element-browser-modal-open #ssa-sidebar-browser {
  top: var(--gin-toolbar-height);
}

/* Add the site studio toolbar icon. */
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-cohesion-settings::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11.4,0C10.5,3.6,2,5.1,2,13.6C2,19.2,6.5,23.8,12,24c5.6-.1,10-4.8,10-10.4C22,4.5,12.6,3.7,11.4,0z M18.3,17.1 c0,.3-.3,.6-.6,.6H6.3c-.3,0-.6-.3-.6-.6V9.8c0-.3,.3-.6,.6-.6h11.4c0.3,0,.6,.3,.6,.6V17.1z'/%3E%3Ccircle cx='8' cy='11' r='.7'/%3E%3Ccircle cx='10' cy='11' r='.7'/%3E%3Ccircle cx='12' cy='11' r='.7'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11.4,0C10.5,3.6,2,5.1,2,13.6C2,19.2,6.5,23.8,12,24c5.6-.1,10-4.8,10-10.4C22,4.5,12.6,3.7,11.4,0z M18.3,17.1 c0,.3-.3,.6-.6,.6H6.3c-.3,0-.6-.3-.6-.6V9.8c0-.3,.3-.6,.6-.6h11.4c0.3,0,.6,.3,.6,.6V17.1z'/%3E%3Ccircle cx='8' cy='11' r='.7'/%3E%3Ccircle cx='10' cy='11' r='.7'/%3E%3Ccircle cx='12' cy='11' r='.7'/%3E%3C/svg%3E%0A");
}

/* Fix panels issue in Site Studio admin screens */
.coh-accordion-panel {
  max-width: 100%;
}

form[class^="cohesion-"] .form-actions .action-link.action-link--icon-trash {
  padding: calc(0.75rem - 2px) calc(1.5rem - 2px);
}

/* Makes the Drupal Site Studio accordion titles bold to match the React ones */
.coh-accordion-panel h2.panel-title {
  font-weight: bold;
}
